<div class="card2">
    <img class="img-fluid" src="https://i.ibb.co/vYGTmSV/Logo-La-Parrilla-Del-Chef.jpg">
      <!--
        <img src="https://i.ibb.co/Fm3CfJW/Logo-VScomunicaciones.jpg" class="logo">
      -->
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-dark bg-primary" href="/users/signin">Iniciar Sesi칩n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-dark bg-primary" href="/posts">Mis Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-dark bg-primary" href="/posts/pay">Pagar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-dark bg-primary" href="/users/logout">Cerrar Sesi칩n</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="card">
    <div class="centrado"><br><br>
        <h3>쯈ui칠nes Somos?</h3>
        <p>춰Bienvenidos a nuestro emprendimiento! Somos Jorge y Pablo, dos ingenieros apasionados por la tecnolog칤a y
            comprometidos con brindar soluciones innovadoras en el 치mbito de las telecomunicaciones. En el a침o 2019,
            decidimos iniciar nuestra actividad en la hermosa localidad de Acheral, ubicada en la provincia de
            Tucum치n.<br>

            Nos enorgullece ofrecer un servicio de internet inal치mbrico de alta calidad, adaptado a las necesidades de
            nuestros clientes. Nuestro objetivo es proporcionar una conexi칩n confiable y r치pida, contribuyendo as칤 al
            desarrollo y la conectividad de nuestra comunidad y sus alrededores.<br>

            En nuestro camino hacia el crecimiento, tenemos proyectos ambiciosos que nos impulsan a seguir adelante.
            Estamos comprometidos a expandir nuestros servicios y a futuro, planeamos ofrecer internet por fibra 칩ptica,
            una tecnolog칤a que permitir치 una mayor velocidad y estabilidad en la conexi칩n.<br>

            Nos importa profundamente la satisfacci칩n de nuestros clientes y nos esforzamos por brindar un servicio de
            calidad excepcional. La honestidad, el trabajo en equipo y la buena calidad de servicio son los pilares
            fundamentales de nuestro trabajo diario.<br>

            Nos dedicamos a proveer internet tanto a hogares como a empresas, entendiendo las necesidades espec칤ficas de
            cada cliente y adaptando nuestros servicios para satisfacerlas de manera 칩ptima.<br>

            Contamos con experiencia y estamos constantemente buscando formas de mejorar y aprender. Creemos en
            importancia de mantenernos actualizados con las 칰ltimas tendencias y tecnolog칤as en el campo de las
            telecomunicaciones.<br>

            춰Gracias por confiar en nosotros!
        </p><br><br><br>
        <img class="img-fluid" src="https://media.c5n.com/p/fe9f80689ede9bfb63dd020731a07ede/adjuntos/326/imagenes/000/219/0000219033/790x0/smart/wifi.jpg">
    </div><br><br><br><br>
</div><br><br><br>

<div class="card">
    <div class="centrado"><br><br>
        <h3>Naveg치 con el Internet m치s r치pido en tu hogar</h3>
        <p>Descubre la velocidad m치xima en navegaci칩n con nuestra conexi칩n a internet en Tucum치n.<br>
            칔nete a la red con opciones de 4 MB, 6 MB, 8 MB, 10 MB para tu hogar e incluso 50 Megas para tu empresa.<br>
            Experimenta la m치xima velocidad de navegaci칩n, conecta todos tus dispositivos, disfruta de videos en alta
            definici칩n,
            gestiona tus archivos en la nube con rapidez y mantente siempre conectado.<br>

            춰Deja atr치s la navegaci칩n lenta y prep치rate para volar alto con VS Comunicaciones!
        </p><br>
        <img class="img-fluid" src="https://www.muylinux.com/wp-content/uploads/2023/03/computer.jpg">
    </div><br><br><br><br>
</div><br><br><br>


<div class="centrado">
    <h3>PLANES</h3>
</div>
<div class="contenedor-tarjetas">
    <div class="tarjeta">
        <h2>IVS4</h2>
        <p>Internet 4Mbps</p>
        <p>Inal치mbrico para el hogar.</p>游
        <h6>Costo: $60.000/por mes</h6>
    </div>

    <div class="tarjeta">
        <h2>IVS6</h2>
        <p>Internet 6Mbps</p>
        <p>Inal치mbrico para el hogar.</p>游
        <h6>Costo: $60.000/por mes</h6>
    </div>

    <div class="tarjeta">
        <h2>IVS8</h2>
        <p>Internet 8Mbps</p>
        <p>Inal치mbrico para el hogar.</p>游
        <h6>Costo: $60.000/por mes</h6>
    </div>

    <div class="tarjeta">
        <h2>IVS10</h2>
        <p>Internet 10Mbps</p>
        <p>Inal치mbrico para el hogar.</p>游
        <h6>Costo: $60.000/por mes</h6>
    </div>

    <div class="tarjeta">
        <h2>IVS50 Empresas</h2>
        <p>Internet 50Mbps</p>
        <p>Inal치mbrico para empresas.</p>游끽
        <h6>Costo: $60.000/por mes</h6>
    </div>
</div><br><br>


<div class="centrado">
    <a class="button"
        href="https://api.whatsapp.com/send/?phone=3815247898&text=Necesito+que+me+contacten.+Quiero+saber+informaci%C3%B3n+sobre+el+siguiente+producto:+">
        <h5>Contacta con nosotros!</h5>
    </a>
</div>
<br>
<br>
<br>
<br>


<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Sobre Nosotros</h3>
                <p>Somos una empresa dedicada a proporcionar servicios de internet de alta velocidad para el
                    hogar.</p>
            </div>
            <div class="footer-section contact">
                <h3>Contacto</h3>
                <p>Tel칠fono: 381-5247898</p>
                <p>Email: vscomunicaciones@gmail.com</p>
            </div>
            <div class="footer-section links">
                <h3>Enlaces R치pidos</h3>
                <ul>
                    <li><a href="/users/signin">Iniciar Sesi칩n</a></li>
                    <li><a href="/posts">Mis Pagos</a></li>
                    <li><a href="/posts/pay">Pagar</a></li>
                    <li><a href="/users/logout">Cerrar Sesi칩n</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 VS Comunicaciones - Todos los derechos reservados
        </div>
    </div>
</footer>