<div>
  <a href="http://localhost:3000/">
    <img src="https://i.ibb.co/Fm3CfJW/Logo-VScomunicaciones.jpg" class="logo">
  </a>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link navbar-dark bg-primary" href="/posts">Mis Pagos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-dark bg-primary" href="//posts/pay">Pagar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-dark bg-primary" href="/users/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav><br>

<div class="centrado">
  <h5>Pagar con MercadoPago</h5>
</div><br><br>

<div class="contenedor-tarjetas">
    <div class="tarjeta2">
        <h4>IVS4</h4>
        <p>Internet 4Mbps</p><br>
        <h6>Costo: $60.000/por mes</h6><br>
        <button type="button" class="btn btn-success">PAGAR</button>
    </div>

    <div class="tarjeta2">
        <h4>IVS6</h4>
        <p>Internet 6Mbps</p><br>
        <h6>Costo: $60.000/por mes</h6><br>
        <button type="button" class="btn btn-success">PAGAR</button>
    </div>

    <div class="tarjeta2">
        <h4>IVS8</h4>
        <p>Internet 8Mbps</p><br>
        <h6>Costo: $60.000/por mes</h6><br>
        <button type="button" class="btn btn-success">PAGAR</button>
    </div>

    <div class="tarjeta2">
        <h4>IVS10</h4>
        <p>Internet 10Mbps</p><br>
        <h6>Costo: $60.000/por mes</h6><br>
        <button type="button" class="btn btn-success">PAGAR</button>
    </div>

    <div class="tarjeta2">
        <h4>IVS50 Empresas</h4>
        <p>Internet 50Mbps</p><br>
        <h6>Costo: $60.000/por mes</h6><br>
        <button type="button" class="btn btn-success">PAGAR</button>
    </div>
</div><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Sobre Nosotros</h3>
                <p>Somos una empresa dedicada a proporcionar servicios de internet de alta velocidad para el
                    hogar.</p>
            </div>
            <div class="footer-section contact">
                <h3>Contacto</h3>
                <p>Teléfono: 381-5247898</p>
                <p>Email: vscomunicaciones@gmail.com</p>
            </div>
            <div class="footer-section links">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="/users/signin">Iniciar Sesión</a></li>
                    <li><a href="/posts">Mis Pagos</a></li>
                    <li><a href="/posts/pay">Pagar</a></li>
                    <li><a href="/users/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 VS Comunicaciones - Todos los derechos reservados
        </div>
    </div>
</footer>