<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Error en inicio de sesión</h3><br>
                <p>Correo electrónico o contraseña invalida</p>
            </div>
            <div class="card-body">
                <a href="/index" class="btn btn-primary btn-block">
                    <h5>Vuelva al inicio</h5>
                </a>
            </div>
        </div>
    </div>
</div>
