<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Login de Cuenta</h1>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="text" placeholder="Correo electrónico">
                    </div><br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div><hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Iniciar Sesión
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>